<!doctype html>
<html lang="ja">
  <head>
    {{ template "_head" }}
    <title>ゆーびん 管理</title>
  </head>
  <body>
    <div class="container mt-5">
        <h1 class="text-center">ゆーびん</h1>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">内容</th>
                <th scope="col">送信元</th>
                <th scope="col">日時</th>
              </tr>
            </thead>
            <tbody>
                {{ range $index, $element := . }}
                {{ range $element }}
                {{ if eq .Content "" }}
                {{ else }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Content }}</td>
                    <td>{{ .IpAddr }}</td>
                    <td>{{ .DateTime.Format "2006/1/2 15:04:05" }}</td>
                </tr>
                {{ end }}
                {{ end }}
                {{ end }}
            </tbody>
          </table>
    </div>
    {{ template "_footer" }}
  </body>
</html>
