<!doctype html>
<html lang="ja">
  <head>
    {{ template "_head" }}
    <title>ゆーびん ログイン</title>
  </head>
  <body>
    <div class="container mt-5">
        <h1 class="text-center">ゆーびん</h1>
        <div class="alert alert-info" role="alert">
          {{.notice}}
        </div>
        
        <form class="input-group" action="/login" method="post" enctype="multipart/form-data">
            <input type="password" class="form-control" aria-label="" name="value" placeholder="パスワードを入力">
            <button type="submit" class="btn btn-outline-secondary">送信</button>
        </form>
    </div>
    {{ template "_footer" }}
  </body>
</html>
